{% extends 'live_data/base.html' %}



<!-- block content ------------------------------------------------------------- -->
{% block content %}


<div class="row">


  <div class="col-12 mt-5">
    <h3>О технологии Normel</h3>
    <p>Normel устройства - трехфазные нормализаторы переменного напряжения с функцией энергосбережения и контролем по каждой фазе для сетей 0,4кВ мощностью от 35 кВА до 500 кВА, серийно производимые под торговой маркой NORMEL™®©, которые подключаются к электрическим вводам зданий, сооружений, промышленного оборудования, уличного освещения, т.е. ко всем потребителям электроэнергии (от одной единицы электрооборудования до комплекса зданий).</p>
    <h4>Эффект от использования нормализатора, его уникальность</h4>
    <p>Уникальность и принципиальные отличия нормализатора переменного напряжения NORMEL с функцией энергосбережения от всех, работающих ныне в мире стабилизаторов и регуляторов напряжения:</p>
    <ul>
      <li>Препятствует проникновению в нагрузку из сети импульсных и высокочастотных помех;</li>
      <li>Легкая адаптивность к действующим электрическим сетям;</li>
      <li>КПД 99,7%;</li>
      <li>Масса и габариты в несколько раз меньше всех известных аналогов;</li>
      <li>Стоимость нормализатора ниже всех известных косвенных аналогов;</li>
      <li>Сокращение потребления электроэнергии (при условии повышенного напряжения) до 25%;</li>
      <li>Увеличение срока службы подключенного к нормализатору электрооборудования в 2–4 раза;</li>
      <li>Совокупная экономия материальных и финансовых ресурсов в среднем 60%.</li>
    </ul>
  </div>


  <div class="col-12 mt-5">
    <h3>О технологии станции катодной защиты нулевого потенциала</h3>
    <p>
      Одним из центральных понятий в электрохимии является электродный потенциал,
      который связан с возникновением двойного электрического слоя на границе
      металл - электролит.
      Специальное оборудование и методика позволяет определить величину работы
      выхода электронов из поверхностного слоя защищаемого металла под воздействием
      внешней энергии с выходом, разгоном и движением с ускорением этих частиц.
      При точном определении и установки этой величины, частицы находятся
      в динамическом равновесии и реакции их взаимодействия с окружающей средой
      прекращаются. Эта величина потенциала является «потенциалом нулевого заряда»
      и принята нами за потенциал защиты.
    </p>
    <p>
      Станции электро-химической защиты серии СЭХЗ ПНЗ-3.0 производства компании “Eurocor Group” SRL, на
      многолетней практике показали, что их эффективность защиты выше, а потребление электроэнергии существенно
      ниже существующих современных аналогов, которые потребляют от 1,0 кВт/ч до 5,0 кВт/ч.
      В аналогичных условиях станции Eurocor серии СЭХЗ ПНЗ-3.0 потребляют не более 0,3… 0,5 кВт/ч, при этом
      номинал станций соответствует номиналам 1,0 кВт/ч…5,0 кВт/ч, а конструктивное решения каскадного исполнения
       станций позволяет по мере выхода на рабочий режим (после формирования защитной окисной
      пленки) ступенчато отключать силовые блоки, при этом обеспечивая стабильное поддержание потенциала
       защиты (потенциала нулевого заряда)
    </p>


  </div>




</div>




{% endblock %}

<!-- end block content ------------------------------------------------------------- -->

